#BASICS
TITLE = Podcast Title Here
LINK = https://www.example.com
IMAGE = http://www.example.com/image3000x3000.png
DESCRIPTION = The full length description for your podcast
LANGUAGE = fr-fr
COPYRIGHT = All right reserved by you

#ITUNES
SUBTITLE = Short sentence about the podcast
CATEGORY = Technology
EXPLICIT = No
