#BASICS
TITLE=Podcast Title Here
SUBTITLE=Short sentence about the podcast
DESCRIPTION=The full length description for your podcast, go on, don't be shy, you can write an essay, we don't care
LINK=https://www.example.com
IMAGE=/.rssdependecies/cover.png
LANGUAGE=fr
AUTHOR=John Doe
LICENCE=Creative Commons Attribution
MAIL=your@address.mail

#ORDER OF THE FEED : DATE/NAME & ASC/DESC
ORDER=DATE,DESC

#ITUNES
CATEGORY=Podcast
EXPLICIT=No
