#BASICS
TITLE=Podcast Title Here
LINK=https://www.example.com
IMAGE=http://www.example.com/image3000x3000.png
DESCRIPTION=The full length description for your podcast, go on, don't be shy, you can write an essay, we don't care
LANGUAGE=fr
COPYRIGHT=All right reserved by you
MAIL=your@address.mail

#ORDER OF THE FEED : DATE/NAME & ASC/DESC
ORDER=DATE,DESC

#ITUNES
SUBTITLE=Short sentence about the podcast
CATEGORY=Technology
EXPLICIT=No
